body{
    background-color: #3AD1E0;
    font-family: Arial, Helvetica, sans-serif;
}
.centraliza{
    text-align: center;
}
.line{
    display: inline;
}
li{
    padding: 0.6%;
}
nav{
    text-align: center;
    border: solid;
    background-color: #f7feff;
    padding: 0.6%;
    
}
